<div class="jumbotron">
  <!--<ul>-->
    <!--<li ng-repeat="category in categories">-->
      <!--<span ng-bind="::category" ng-click="setCategory($event)"></span>-->
    <!--</li>-->
  <!--</ul>-->
  <!--<ul >-->
    <!--<li ng-repeat="post in posts" ng-if="posts">-->
      <!--<img src="{{::post.image}}" />-->
      <!--<span ng-bind="::post.title" ng-click="getItem($event,'title')"></span>-->
      <!--<span ng-bind="::post.description"  ng-click="getItem($event,'description')"> </span>-->
      <!--<span ng-bind="::post.author"  ng-click="getItem($event,'author')"></span>-->
      <!--<span ng-bind="::post.category"  ng-click="getItem($event,'category')"></span>-->

    <!--</li>-->
  <!--</ul>-->

 <list  arr="posts" ng-if="posts.length>0">
 </list>
  <!--<hello fname="person.fname" lname="person.lname"/></div>-->
</div>
